.front-span {
  min-width: 50px;
}

.hobby-wapper {
  display: flex;
  flex-direction: column;
}

.db-min-height {
  min-height: 165px;
}

.back-span {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  width: 100px;
}

.db-icon-bottom {
  position: absolute;
  top: 15px;
  right: 5px;
  display: flex;
  justify-content: center;
  align-items: flex-end;
  z-index: 2;
}
