.front-span {
  min-width: 50px;
}

.hobby-wapper {
  display: flex;
  flex-direction: column;
}

.db-min-height {
  min-height: 180px;
}

.back-span {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
